$secondcolor: #F4F2ED;
$primaryColor:#154100;

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}

@mixin  text-font {
    font-family: 'Montserrat', sans-serif;
}

.card_block_shop {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}