$secondcolor: #F4F2ED;
$primaryColor:#154100;

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}

@mixin  text-font {
    font-family: 'Montserrat', sans-serif;
}
.grid_bars{
    width: 100%;
    margin-bottom: 30px;
    .card_item_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 15px;
        box-shadow: 1px 1px 10px #dbdbdb;
    .card_action_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        .card_row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0px 0px 0px;
            .user_info{
                display: flex;
                align-items: center;
                .avt{
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .userName{
                    font-weight: bold;
                    margin-left: 10px;
                    p{
                        margin:0;
                        padding: 0;
                        color: #9b9b9b;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
           
            .advance_button{
                position: relative;
                color: #a5a5a5;
                img{
                    width: 20px;
                }
                .dropdown{
                    position: absolute;
                    top: 50;
                    right: 0;
                    width: 100%;

                    width: 150px;
                    font-size: 15px;
                   
                    border-radius: 5px;
                    background: white;
                    box-shadow: 1px 1px 8px #dbdbdb;
                    z-index: 5;
                    hr{
                        margin: 0;
                    }
                    div{       
                        text-align:center;
                        width: 100%;
                        padding: 10px;
                        p{
                            width: 100%;
                            color: black;
                            margin: 0;
                            font-weight: 500;
                        }
                        .delete_button,.report_button{
                            color: red;
                        }
                    }
                }
            }
        }
        .likes{
            display: flex;
            align-items: center;
            .userlike_avt{
                width: 30px;
                height: 30px;
                img{
                    object-fit: cover;
                }
            }
            p{
                margin: 0;
                font-weight: 500;
                padding-left: 5px;
            }
        }
        .item_image{
            width: 100%;
            height: auto;
        }
        .button_wrapper{
            display: flex;
            img{
                width: 25px;
                height: 25px;
                object-fit: contain;
                margin-right: 20px;
            }
        }

        .comment_list{
            .view_more_cmt{
                text-decoration: underline;
                color: #7c7c7c;
            }
            .comment{
                display: flex;
                h6{
                    margin-right: 5px;
                }
            }
        }
        .comment_form{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .avt{
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            .comment_input{
            width: 100%;
            height: 100%;
                input{
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    border: 1px solid #d4d4d4;
                }
            }
          
        }
       .card_row,.item_image,.button_wrapper,.likes,.comment_list,.description,.comment_form{
           margin-bottom: 12px;
       }
        }
    }
}