@import '../ultils/initial.scss';

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}

.message_container{
    width: 70%;
    height: 85vh;
    margin: auto;
    margin-top: 32px;
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    .left_contain{   
        .chat_info{
            height: 15vh;
            padding: 16px 16px;
            .chat_settings{
                display: flex;
                justify-content: space-between;
                h2{
                    font-size:24px;
                }
                // .chat_icon{
    
                // }
                margin-bottom: 16px;
            }
            .search_box{
                justify-content: center;
                align-items: center;
                input{
                    border: none;
                    margin-left: 10px;
                    background: none;
                    // font-weight: 300;
                    color: #BDBAC2;
                    
                }
                width: 100%;
                height: 40px;
                padding: 5px 10px 5px 10px;
                color: #BDBAC2;
                background: #F5F5F5;
                border-radius: 50px;
               
            }
        
        }
  
        .message_box{
            height: 70vh;
         overflow-y: scroll;
         .link{
             text-decoration: none;
             color: black;
            .message_contain{
                padding: 8px 16px;
                height: 80px;
                align-items: center;
                .avt{
                    width: 56px !important;
                    height: 56px;
                    img{
                        width: 56px;
                        height: 100%;
                        border-radius: 28px;
                        object-fit: cover;
                    }
                }
                
                .message{
                    padding-left: 16px;
                    align-items: center;
                    h6{
                        font-size: 16px;
                        margin:0px;
                        font-weight: 400;
                        color: #8e8e8e;
                    }
                    h2{
                        font-size: 16px;
                        margin:0px;
                        font-weight: 400;
                    }
                }
                .info{
                    text-align: right;
                    
                    h6{
                        font-size: 14px;
                        font-weight: 300;
                        margin:0px;
                        font-weight: 400;
                        color: #8e8e8e;
                    }
                }
            }
            .unseen{
                background-color: #F5F5FF !important;
                .message{
                
                    h2{
                        font-weight: 500;
                    }
                    h6{
                        color:black;
                    }
                }
            }
           
        }
         .link:hover{
            .message_contain{
            background-color: #f2f2f2;
            
            }
        }
        }
    }

.right_contain{
    border-left: solid 0.5px rgba(0, 0, 0, 0.1);
    height: 100%;
    align-items: space-between;
    .top_info{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        align-items: center;
       height: 10vh;
        border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
        .user_info{
       
            align-items: center;
            display: flex;
            img{
                width: 40px;
                height: 40px;
                margin-right:16px;
                border-radius: 20px;
            }
            h2{
                font-size:16px;
                margin:0px;
            }
        }
       
    }
    .message{
        padding:16px;
        height: 65vh;
        
        overflow-y: scroll;
        
        .receive{
        .avt{
            text-align: right;
            padding-right: 8px;
            img{   
                width: 24px;
                height: 24px;
                border-radius: 12px;
            }
        }
       
        .receive_mess{
            margin-bottom:8px;
            p{
            width: max-content;
            margin:0px;
            padding: 8px 16px;
            border: solid 0.5px rgba(0, 0, 0, 0.3);
            height: 42px;
            border-radius: 21px;
            align-items: center;
       
            }
            img{
                width: 100%;
                margin:0px;
              
                border: solid 0.5px none;
                height: 100%;
                border-radius: 21px;
                align-items: center;
                margin-bottom: 8px;
               object-fit: cover;    
            }
            .sticker_mess{
                width: 40px;
                margin:0px;
              
                border: solid 0.5px none;
                height: 40px;
                border-radius: 21px;
                align-items: center;
                margin-bottom: 8px;
  
               object-fit: none;    
            }
        
        }}
        .sent{
            .avt{
                text-align: left;
                padding-left: 8px;
                img{   
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                }
            }
            .sent_mess{
               
                p{
                    float: right;
                    width: max-content;
                    margin:0px;
                    padding: 8px 16px;
                    border-radius: 21px;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.02);
                 
                    
                }
                img{
                    float:right;
                    width: 100%;
                    margin:0px;  
                    border: solid 0.5px none;
                    height: 100%;
                    border-radius: 21px;
                    align-items: center;
                    margin-bottom: 16px;
                    object-fit: cover;
                }
                h5{
                    float:right;
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 10px;
                    padding: 8px 16px;
                }
                .sticker_mess{
                    width: 40px;
                    margin:0px;  
               
                    height: 40px;          
                    align-items: center;
                    margin-bottom: 8px;
                   object-fit: none;    
                }
            
            }
        }
       
    }
    .chat_box{
        padding: 16px;
        display: flex;
        align-items: center;
        height: 10vh;
        .chat_area{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right:8px;
            input{
                width: 100%;
                border: none;
                margin-left: 10px;
                background: none;
                font-size: 16px;
            }
            width: 100%;
            padding: 8px 8px 8px 8px;
            color: black;
            // background: rgba(0, 0, 0, 0.05);
            border-radius: 50px;
            border: solid 0.5px rgba(0, 0, 0, 0.1);
            
        }
        .emoji_icon{
            display: flex;
            align-items: center;
            justify-self: center;
            padding: 8px 8px 8px 8px;
            width: 50px;
            height: 50px;
            border: solid 0.5px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            margin-right:8px;
        }
        .send_icon{
            background-color: #7166F9;
            display: flex;
            align-items: center;
            justify-self: center;
            padding: 8px 8px 8px 8px;
            
            // border: solid 0.5px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
    
        }
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
           
            display: inline-block;
            cursor: pointer;
        }
    }
    
    }
}