@import '../ultils/initial.scss';

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}
.profile_container{
    width: 70%;
    margin: 0 auto;
    margin-top: 24px;
        
    .profile-img{
        width: 100%;
        padding-bottom:100%; 
        overflow:hidden; 
        position:relative;
        img{
            object-fit:cover;
            position:absolute;
            width:100%;
            height: 100%;
            border-radius: 100%;
        }
    }
    .action_contain
    {
        justify-content: left;
        .prolile_header{
            justify-content: left;
            display: flex;
            padding-bottom: 16px;
            align-items: center;
            .name{
                font-size: 24px;
                margin-right: 24px;
            }
            .follow_options
            {
                font-size: 16px;
                background-color: #f2f9ff;
                border: solid 0.1px #f2f9ff;
                color: #7166F9;
                padding: 5px 30px;
                border-radius: 3px;
                margin-right: 8px;
            }
            .secondary_btn{
                height: 100%;   
                font-size: 16px;
                color: black;
                padding: 5px 30px;
                border: solid 0.1px rgba(0,0,0,0.2);
                border-radius: 3px;
                margin-right: 8px;
            }
        }
        .profile_number
        {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            .number_holder{
                // margin: auto;
                // justify-content: center;
                text-align: center;
                .number{
                    font-size: 20px;
                    font-weight: bold;
                }
            }

        }
    }
}
    
.divide_type{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 24px;
    ul{
        padding:0;
        display: flex;
        justify-content: space-between;
        li{
            display: block;
            text-decoration: none;
            padding-bottom: 8px;
            margin-left: 24px;
        }:first-child{
            margin: 0;
        }
    }
    .photo_type{
        display: flex;
        justify-content: center;
        border-top: solid 1px black;
        border-radius: 0px;
        width: 100%;
        padding:0px;
        padding-top:16px;
        align-items: center;
        h2{
            width: 0px;
            height: 0px;
            visibility: hidden;
            font-size: 16px;
            margin-left: 8px;
            margin-bottom: 0px !important;
        }
    }
    .diselected{
        border-top: none !important;
        opacity: 0.6 !important;
    }
}


.pro_header{
    .profile-img{
        img{
            width: 100%;
        }
    }
}

.highlight-story{
    padding-bottom: 24px;
    border-bottom: solid 0.1px rgba(0,0,0,0.1);
}
.Profile
{
    .bio
    {
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
    }
    .image_contain
    {
        height: 314.26px;
        margin-bottom: 30px;
        position: relative;
        img{
            display: block;
            width:100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .img_overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
            right: 0;
            height: 100%;
            width: calc(100% - 30px);
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(0,0,0,0.6);
            z-index: 12;
            color: white;
            justify-content: center;
            align-items: center;
            .overlay_info{
                position: absolute;
                display: flex;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                
                align-items: center;
                justify-content: center;
                .hearts
                {
                    h2{
                        font-size: 20px;
                        padding:0px;
                        margin:0px;
                        margin-left:8px;
                        font-weight: 500;
                    }
                    padding:0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right:32px;
            
                }
                .comments
                {
                    h2{
                        font-size: 20px;
                        padding:0px;
                        margin:0px;
                        margin-left:8px;
                        font-weight: 500;
                    }
                    padding:0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                }
            }

        }
}
.image_contain:hover .img_overlay {
    opacity: 1;
    }   
}
.dialog_cont
{
    .dialog_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:12px 24px;
        h5{
            align-self: center;
            font-size:20px;
            margin:0px;
        }

    }
    .follow_list{
        padding: 24px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        .list_info{
            display: flex;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 20px;
                margin-right:16px
            }
            h2{
            font-size: 16px;
            margin-right:64px;
            }
        }
        .minibtn{
            border: solid 0.5px grey;
        }
    }  
}

@media only screen and (max-width : 1200px){
    .profile_container{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width : 992px){
    .profile_container{
        width: 80%;
        margin: auto;
        margin-top: 24px;
        .action_contain
        {
            justify-content: left;
            .prolile_header{
            justify-content: left;
            padding-bottom: 16px;
            align-items: center;
            .name{
                font-size: 1.5rem;
                margin-right: 24px;
            }
            
            button{
                font-size: calc_width(25);
            }
            .follow_options
            {
                display: inline-block;
                background-color: #f2f9ff;
                border: solid 0.1px #f2f9ff;
                color: #7166F9;
                border-radius: 3px;
                margin-right: 8px;
                width: 100%;
                font-size: 0.7rem !important;
            }
            .secondary_btn
            {
                height: 100%;   
                font-size: 0.875rem !important;
                color: black;
                padding: 5px 30px;
                border: solid 0.1px rgba(0,0,0,0.2);
                border-radius: 3px;
                margin-right: 8px;
            }
        
        }
        }
    }
    
  
    .profile_number
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        .number_holder{
        
            text-align: center;
            .number{
                font-size: 0.875rem;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width : 768px){
    .profile_container{
        width: 80%;
        margin: auto;
        margin-top: 24px;
        .action_contain
        {
            justify-content: left;
            .prolile_header{
            justify-content: left;
            
            padding-bottom: 16px;
            align-items: flex-start;
            .name{
                height: 100%;
                font-size: 1.2rem;
                margin-right: 24px;
            }
            button{
                font-size: calc_width(25);
            }
            .follow_options
            {
                font-size: 0.8rem !important;
                
            }
            .secondary_btn
            {
                height: 100%;   
                font-size: 0.875rem !important;
                color: black;
                padding: 5px 30px;
                border: solid 0.1px rgba(0,0,0,0.2);
                border-radius: 3px;
                margin-right: 8px;
            }
        
            }
            .profile_number{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                .number_holder{
                    text-align: center;
                    .number{
                        font-size: 0.8375rem;
                        font-weight: bold;
                    }
                    .type{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width : 576px){
    .profile_container{
        width: 80%;
        margin: auto;
        margin-top: 24px;
        .action_contain
        {
            justify-content: left;
            .prolile_header{
            justify-content: left;
            flex-direction: column;
            padding-bottom: 16px;
            align-items: flex-start;
            width: 100%;
            .name{
                height: 100%;
                font-size: 0.8rem;
                margin-right: 24px;
                padding-bottom: 16px;
                font-weight: bold;
            }
            button{
                font-size: calc_width(25);
            }
            div{
                width: 100%;
                .follow_options
                {
                font-size: 0.7rem !important;
                width: 100%;
                }
            }
            .secondary_btn
            {
                // height: 100%;   
                // font-size: 0.875rem !important;
                // color: black;
                // padding: 5px 30px;
                // border: solid 0.1px rgba(0,0,0,0.2);
                // border-radius: 3px;
                // margin-right: 8px;
            }
        
            }
            .profile_number{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                .number_holder{
                    text-align: center;
                    .number{
                        font-size: 0.8375rem;
                        font-weight: bold;
                    }
                    .type{
                        font-size: 0.8rem;
                    }
                }
            }
            .bio{
            font-weight: unset;
               font-size: 0.8375rem;
            }
        }
    }

}


@media only screen and (max-width : 500px){
    .profile_container{
        width: 90%;
        margin: auto;
        margin-top: 24px;
        .profile_wrapper{
            .pro_header{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .action_contain
        {
           
            .prolile_header{
  
            flex-direction: column;
            padding-bottom: 16px;
            align-items: center;
            width: 100%;
            .name{
               text-align: center;
                font-size: 1rem;
                margin:0;
                padding:0;
                font-weight: bold;
            }
            button{
                font-size: calc_width(25);
            }
            div{
                width: 100%;
                .follow_options
                {
                    font-size: 0.6rem !important;
                    margin-top: 10px;
                    width: 100%;
                }
            }
            .secondary_btn
            {
                // height: 100%;   
                // font-size: 0.875rem !important;
                // color: black;
                // padding: 5px 30px;
                // border: solid 0.1px rgba(0,0,0,0.2);
                // border-radius: 3px;
                // margin-right: 8px;
            }
        
            }
            .profile_number{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                .number_holder{
                    text-align: center;
                    .number{
                        font-size: 0.85rem;
                        font-weight: bold;
                    }
                    .type{
                        font-size: 0.7rem;
                    }
                }
            }
            .bio{
            font-weight: unset;
               font-size: 0.8375rem;
               text-align: center;
            }
        }
    }

}

.createHighLightStoryForm{
    .wrapper{
        padding-left: 20px;
        transform: translateX(-20px);
        .row{
            width: 100%;
        }
        .form-header{
            z-index: 10;
            width: 100%;
            height: 100%;
            padding: 20px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            h5{
                padding-bottom: 50px;
            }
            .formField_container{
                .formBlock{
                    input{
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #ddd; 
                    }
                }
            }
            .header-feature{
                display: flex;
                justify-content: space-between;
                .btn{
                    background: $primaryColor;
                    color: white;
                }
                .btn-cancel{

                    background: $secondcolor;
                    color: rgb(150, 150, 150);
                }
            }
        }
        .form-content{
            .story_selected{
                opacity:50%;
            }
            .unselected_story{
                opacity: 100%;
            }
            padding-bottom: 20px;
            .image-wrapper{
                width: 100%;
                height: 20rem;
                padding-left: 20px;
                padding-top: 20px;
                .story-item{
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}