@import '../ultils/initial.scss';

.highlightStory{
    width: 100%;
    margin-top: 20px;
    .story_add_button{
        .avatar{
            position: relative;
            margin: 0;
            background: #C6E6FF;
            width: calc_height(100);
            height: calc_height(100);
            border-radius: 50%;
            padding: 5px;
            border: 2px solid $primaryColor;
        }
        .add_icon{
            background: $primaryColor;
            color: white;
            
            display: flex;
            justify-content: center;
            border-radius: 50%;
            
            width: calc_height(30);
            height: calc_height(30);

            font-size: 10px;
            border: 1px solid white ;

            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .stories{
        ul{
            list-style-type: none;
            user-select: none;
            display: flex;
            justify-content: center;
            overflow-y: auto;
            margin:0;
            padding: 10px 0px 10px 0px;
            li{
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            li:first-child{
                padding-left: 20px;
            }
            li:last-child{
                padding-right: 20px;
            }
        }
        .has-story{
            .story_wrapper{
                border-radius: 50%;
                width: calc_height(100);
                height: calc_height(100);
                padding: 3px;
                background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                img{
                    padding: 4px;
                    background:currentColor;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .story_wrapper_actived{
                border-radius: 50%;
                width: calc_height(100);
                height: calc_height(100);
                padding: 3px;
                background: #bdbdbd;
                img{
                    padding: 4px;
                    background:currentColor;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            span{
                color: black;
                font-weight: 500;
                font-size: 13px;
                max-width: 60px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}::-webkit-scrollbar {
    display: none;
}
