@import '../../ultils/initial.scss';


.sidebar{
    width: 100%;
    height: 100%;
    border-right: 1px solid #dddddd;
    position: relative;
    .logo{
        padding: 20px;
        border-bottom: 1px solid #dddddd;
       .stunning_logo{
           width: 70px;
       }
       .stunning_text{
           margin-left: 10px;
           width: 90px;
       }
    }
    .tools{
        padding: 5px;
        .active{
            background: $blueColor;
            border-radius: 5px;
        }
        ul{
            color: black;
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                padding: 20px;
                font-size: 17px;
                font-weight: 600;
                margin: 0;
                display: flex;
                align-items: center;
                p{
                    margin: 0px 0px 0px 10px;
                }
            }
        }
    }
    .info{
        width: 100%;
        border-top: 1px solid #dddddd;
        padding: 20px;
        position: absolute;
        bottom: 0;
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .avt{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .name{
                padding: 0;
                margin: 0;
                font-weight: bold;
                padding: 10px;
            }
            cursor: pointer;
        }
        .logout{
            margin-top: 10px;
            color: #8b8b8b;
            a{
                margin-left: 5px;
                color: #8b8b8b;
            }
        }
    }
}

@media screen and (max-width: 922px){
    .sidebar{
        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
            .stunning_logo{
                
            }
            .stunning_text{
              
            }
        }
        .tools{
            padding: 5px;
            .title{
                display: none;
            }
            ul{
                li{
                    flex-direction: column;
                    p{
                        width: fit-content;
                        margin:0;
                        margin-top: 5px;
                        font-size: 0.8rem;   
                    }
                }
            }
         }
        .info{
            .wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                .name{
              
                }
                cursor: pointer;
            }
        
        }
    }
}


@media screen and (max-width: 768px){
    .sidebar{
        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .stunning_text{
              
            }
        }
        .info{
            .wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                .name{
                    font-size: 0.8rem; 
                }
                cursor: pointer;
            }
           .logout{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .sidebar{
        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .stunning_text{
              display: none;
            }
        }
        .tools{
            padding: 5px;
            .title{
                display: none;
            }
            ul{
                li{
                    flex-direction: column;
                    p{
                        display: none;
                    }
                }
            }
         }
        .info{
            .wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                .name{
                display: none;
            }
            .logout{
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

}