@import '../ultils/initial.scss';

.storyPage{
    .story_add_button{
        .avatar{
            position: relative;
            margin: 0;
            background: #C6E6FF;
            width: calc_height(100);
            height: calc_height(100);
            border-radius: 50%;
            padding: 5px;
            border: 2px solid $primaryColor;
        }
        .add_icon{
                background: $primaryColor;
                color: white;
                
                display: flex;
                justify-content: center;
                border-radius: 50%;
                
                width: calc_height(30);
                height: calc_height(30);


                font-size: 10px;
                border: 1px solid white ;

                position: absolute;
                bottom: 0;
                right: 0;
        }
    }
    .stories{
        border-radius: 5px 5px 0px 0px;
        background: white;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        ul{
            list-style-type: none;
            user-select: none;
            display: flex;
            overflow-y: auto;
            margin:0;
            padding: 10px 0px 10px 0px;
            li{
                padding: 0 10px;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            li:first-child{
                padding-left: 20px;
            }
            li:last-child{
                padding-right: 20px;
            }
        }
        .has-story{
            .story_wrapper{
                border-radius: 50%;
                width: calc_height(100);
                height: calc_height(100);
                padding: 2px;
                background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                img{
                    padding: 4px;
                    background:currentColor;
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            span{
                color: black;
                font-weight: 500;
                font-size: 13px;
                max-width: 60px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: rgba($color: #000000, $alpha: 0.9);
    display: flex;
    justify-content: space-between;
    .storyPage__header{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .header__logo{
            .Logo_stunn{
                width: 3rem;
            }
            .Logo_text{
                width: 4rem;
                margin-left: 0.5rem;
            }
        }
        .close_button{
            width: 2rem;
            i{
                font-size: 2rem;
                color: white;
            }
        }
    }
    .current_story{
        height: 100%;
        border-radius: 0px 0px 5px 5px;
        .story_wrapper{
            display: flex;
            align-items: center;
            height: 100%;
            box-sizing: border-box; 
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .story-overlay{
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
    .space{
      justify-content: space-between;
    }
    .end{
      justify-content: flex-end;
    }
    .overlay{
        position: absolute;
        z-index: 9997;
        background-color: rgba(0,0,0,0.25);
        width: 100%;
        height: 100%;
        display: none;
    }
    .overlay-displayed{
        display: block;
    }
    .reply-wrapper{
        transform: translatex(100%);
        visibility: hidden;
        transition: all 0.25s linear;
        background: #fff;
        display: flex;
        flex-direction: column;
        z-index: 10000;
        // form{
        //     position: absolute;
        //     bottom: 0;
        // }
        .display{
            visibility: visible;
            opacity: 1;
        }
        .hiden{
            visibility: hidden;
            opacity: 0;
            //display: none;
        }
        .main{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            position: absolute;
            z-index: 100;
            .user-list{
               
                ul{
                    padding:0;
                    height: 20rem;
                    overflow-y: auto;
                }
                .users-view-story{
                    display: flex;
                    align-items: center;
                    p{
                        font-weight: bold;
                        margin: 0;
                        margin-left: 5px;
                    }
                }
            }
        }
        .user_infor_wrapper{
          display: flex;
          align-items: center;
          padding: 10px;
          img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            object-fit: cover;
          }
          p{
            margin: 0;
            color:black;
            padding: 0px 10px;
          }
        }
        .chat_box{
           
            padding: 16px;
            display: flex;
            align-items: center;
            height: 10vh;
            width: 100%;
            .chat_area{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right:8px;
                input{
                    width: 100%;
                    border: none;
                    margin-left: 10px;
                    background: none;
                    font-size: 16px;
                }
                width: 100%;
                padding: 8px 8px 8px 8px;
                color: black;
                // background: rgba(0, 0, 0, 0.05);
                border-radius: 50px;
                border: solid 0.5px rgba(0, 0, 0, 0.1);
                .action_icon{

                }
            }
            .emoji_icon{
            
                padding: 8px 8px 8px 8px;
                border: solid 0.5px rgba(0, 0, 0, 0.1);
                margin-right:8px;
                border-radius: 50px;
    
                display: flex;
                align-items: center;
                justify-self: center;
            
            }
            .img_upload{
            
                .custom-file-upload{
                    padding: 8px 8px 8px 8px;
                    border: solid 0.5px rgba(0, 0, 0, 0.1);
                    margin:0;
                    margin-right:8px;
                    border-radius: 50px;
        
                    display: flex;
                    align-items: center;
                    justify-self: center;
                }
            }
            .send_icon{
                background-color: #7166F9;
                display: flex;
                align-items: center;
                justify-self: center;
                padding: 8px 8px 8px 8px;
                
                // border: solid 0.5px rgba(0, 0, 0, 0.1);
                border-radius: 50px;
        
            }
            input[type="file"] {
                display: none;
            }
            .custom-file-upload {
            
                display: inline-block;
                cursor: pointer;
            }
        }
    
    }
    .displayed{
        transform: unset;
        visibility: visible;
    }
}::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width : 768px){
    .storyPage{
        .storyPage__header{
            display: none;
        }
        .current_story{
            width: 100%;
            .story_wrapper{
                width: 100%;
                justify-content: center;
                .story-overlay{
                    
                }
            }
        }
        .reply-wrapper{
           position: fixed;
            height: 100vh;
            
            right: 0;
        }
    }
}


@media screen and (max-width : 600px){
    .storyPage{
        .storyPage__header{
            display: none;
        }
        .reply-wrapper{
        }
    }
}

@media screen and (max-width : 600px){
    .storyPage{
        .storyPage__header{
            display: none;
        }
        .current_story{
            .story_wrapper{
                svg:first-child{
                    position: absolute;
                    left: 0;
                    z-index: 10000;
                }
                svg:last-child{
                    position: absolute;
                    right: 0;
                    z-index: 10000;
                }
            }
        }
        .reply-wrapper{
            z-index: 10001;
        }
    }
}