@import '../ultils/initial.scss';

.TagPage{
    .tag_info{
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tag_image{
            width: 10%;
            height: 10%;
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .button_wrapper{
            button{
                width: 150px;
                height: 40px;
                box-sizing: border-box;
                justify-self: right;
                background: $blueColor;
                color: black;
                font-size: 16px;
                padding: 5px 15px 5px 15px;
                border: none;
                border-radius: 5px;
            }
        }
    }
    .posts{
        width: 60%;
        margin: 0 auto;
        border-top: 1px solid #dddddd;
        .image-wrapper{
            width: 100%;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            // img{
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            // }
        }
    }
}