@import "./common.scss";
@import '../../ultils/initial.scss';

$hover-input-color: rgba(88, 159, 207, 0.835);
$solid-color: rgba(15, 15, 15, 0.2);
$result-text-color: #424444;
.search {
  .search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .title {
    margin-bottom: 1em;
    font-size: 27px;
    color: $base-color;
  }
  .content {
    width: 100%;
    .wrapper2{
      display: block;
      align-items: center;
      padding: 16px 5px;
      background-color: white;
      input {
        width: 100%;
        border: 0;
        padding: 0px;
        font-size: 15px;
        background: transparent;
        outline: 0;
        color: black;
        transition: all, 200ms ease-in-out;
        &::placeholder {
          color: $base-color;
        }
      }
     }
     &:focus {
        box-shadow: 0px 0px 19px 3.1px $hover-input-color;
    }
  }
}
}
//Popup
.new_popup {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  margin-top: 7px;
  // border-radius: 0px 0px 5px 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  .container {
    padding:0;
    .content {
      height: 100%;
      height: fit-content;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        color: $result-text-color;
        transition: all, 230ms ease-in;  
        &:last-child {
        }
        cursor: pointer;
        .user_infor_wrapper{
          display: flex;
          align-items: center;
          justify-content: space-between;
         
           margin: 16px 18px 16px 0px;
         .userinfo{
           display: flex;
            align-items: center;
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          p{
            margin: 0;
            color:black;
            padding: 0px 10px;
          }
         }
      
        }
      }
    }
 
  }
}
