@import '../../../ultils/initial.scss';

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@mixin general{
    padding: 10px;
    width: 100%;
    height: calc_width(72);
    font-size: 15px;
    border-radius: 5px;
}

.create_account{
    height: 100vh;
    overflow: auto;
    padding: 10px;
    .page_title{
        padding: 20px;
        border-bottom: 1px solid #CBCBCB;
    }
    h4{color: rgb(141, 141, 141)}
    .register__container{
        @include default();
        margin-top: 20px;
        box-sizing: border-box;
        overflow: auto;
        .register__form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .avt_wrapper{
                margin-bottom: 20px;
                img{
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .errorLabel{
                color: red;
            }
            .register__row1{
                display: flex;
                justify-content: space-between;
            
                .formField_container{
                    width: 49%;
                    .formBlock{
                        
                        input{
                            height: calc_width(0);
                            @include general;
                            color: black;
                            border: 1px solid #CBCBCB;
                        }
                        .label_input{
                        color: $linkColor;
                        margin-bottom: 2.5px;
                        }
                    }
                }
            }
            .register__row2{
                width: 100%;
                .display_input{
                    height: calc_width(0);
                    @include general;
                    color: black;
                    border: 1px solid #CBCBCB;
                    margin-bottom: 20px;
                }
                .formField_container{
                    .formBlock{
                        input{
                            width: 100%;
                            height: calc_width(60);
                            @include general;
                            color: black;
                            //box-shadow: 1px 1px 5px #CBCBCB;
                            border: 1px solid #CBCBCB;
                        }
                        .label_input{
                            color: $linkColor;
                            margin-bottom: 2.5px;
                        }
                    }
                }
            }
            .register__logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    padding: 5px;
                    width: calc_width(56);
                    height: calc_width(56);
                }
                .stunning_text{
                    padding: 5px;
                    width: calc_width(78);              
                }
            }
            .facebook_signin_button{
                @include general();
                background-color: $darkBlueColor;
                color: white;
                border: none;
                width: 100%;
                font-size: calc_width(24);
                img{
                    width: calc_width(30);
                    padding-right: 5px;
                }
            }
            .register_wrapper{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    margin-left: 10px;
                    color: $primaryColor;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
            .register__button{
                @include general;
                background-color: $primaryColor;
                color: white;
                border: none;
            }
            ////
            .facebook_signin_button, 
            .or_label,
            .register__logo,
            .register__button
            {
                margin-bottom: 20px;
            } 
        }
    }
}


@media screen and (max-width: 922px){
.create_account{
   .register__container{
     .register__form{
        .register__row2{
              .formField_container{
                    .formBlock{
                        input{
                            height: calc_width(150);
                        }
                }
            }
        }
        .register__button{
            height: calc_width(150);
            background-color: $primaryColor;
            color: white;
            border: none;
        }
    }
}}}